@charset "utf-8";

body {
    margin: 0;
}

.page-margin {
    margin: 0;
    width: auto;
    height: 1px;
    margin-top: 40px;
}

.not-display {
    display: none;
}

.smartphone-size {
    width: 375px;
    height: 100vh;
    margin: 0 auto;
}

.header-text {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    margin: 0;
    margin-top: 30px;
}

.comment {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
    margin-top: 30px;
}

td {
    text-align: center;
}

.t-header {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 14px;
    margin: 0 auto;
}

.t-data.mer {
    font-family: 'Noto Sans JP', sans-serif;
    width: 120px;
    border: 0;
    font-size: 16px;
}

.t-data.price {
    font-family: 'Noto Sans JP', sans-serif;
    width: 35px;
    border: 0;
    font-size: 16px;
}

.t-data.qua {
    font-family: 'Noto Sans JP', sans-serif;
    width: 25px;
    border: 0;
    font-size: 16px;
}

.t-data.dis {
    font-family: 'Noto Sans JP', sans-serif;
    width: 25px;
    border: 0;
    font-size: 16px;
}

.t-data.delete {
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
    width: 26px;
    height: 26px;
    background-color: #de6f6f;
    border-radius: 100%;
    border: 0;
}

.t-data.cons {
    font-family: 'Noto Sans JP', sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    font-size: 16px;
    text-align: center;
    width: 48px;
    color: #000;
    background-color: #fff;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

.btn {
    font-family: 'Noto Sans JP', sans-serif;
    border: 0;
    border: #5856d0 dashed 2px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    text-align: center;
    width: 100px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}

.calc-result {
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    margin: 0;
    margin-top: 30px;
}

.settings {
    margin-top: 12px;
    margin-left: 15px;
}

.settings-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 23px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.check-text {
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 5px;
    width: fit-content;
}

.check {
    inline-size: 22px;
    block-size: 22px;
    margin-left: 5px;
}

.change-contents {
    text-align: center;
}

.change-text {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 7px;
}

.change-inp {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    width: 70px;
    border: 0;
    border: #5856d0 dashed 2px;
    border-radius: 5px;
}

.change-p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 3px;
}

.change-calc-result {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}